*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: black;
    color:white;
}

.container{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    background-color: grey;
    margin:10px auto;
}

.containerChart{
    width: 50%;
    margin:10px auto;
}

button, input, select, h3{
    width: 170px;
    margin: 0px 0px 8px 0px;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

button{
    background-color: deepskyblue;
    color:white;
    border-color: deepskyblue;
}
canvas{
    background-color: white;
}

header{
    width: 30%;
    margin:auto;
    margin-top: 10px;
}